<html>
    <head>
            <link href="/css/bootstrap.css" rel="stylesheet">
        <title>WebApp</title>
    </head>
    <body>
        <div>
            
            <ul class="nav nav-tabs">
                <li><a href="/ListeUser">Liste User</a></li>
                <li><a href="/ListeFilm">Liste Film</a></li>
                <li><a href="/ListeMusique">Liste Musique</a></li>
                  <li><a href="/ListeAdmin">Liste Administrateur</a></li>
                   <li><a href="/ListePlugin">Liste Plugins</a></li>
            </ul>
        </div>
      $val
    </body>
</html>

