<html>
    <head>
            <link href="/css/bootstrap.css" rel="stylesheet">
            <script src="/js/jquery.min.js"></script>
            <script src="/js/jquery.js"></script>
        <title>WebApp</title>
    </head>
    <body>
        <div>
            
            <ul class="nav nav-tabs">
                <li><a href="/ListeUser">Liste User</a></li>
                <li><a href="/ListeFilm">Liste Film</a></li>
                <li><a href="/ListeMusique">Liste Musique</a></li>
                  <li><a href="/ListeAdmin">Liste Administrateur</a></li>
                   <li><a href="/ListePlugin">Liste Plugins</a></li>
            </ul>
        </div>
           
        Modifier un administrateur : 
          <form id="formadmin">
            $val
               <input type="submit" id="updateadmin" value="valider">
        </form>
    </body>
</html>

<script type="text/javascript">
    $('#updateadmin').on('click', function(e){
 
    event.preventDefault();
   var form=$("#formadmin");
    // Pop up a confirmation dialog

    
    // Check and make sure the film confirmed
 
        // If they did, do our delete
        $.ajax({
            method: 'PUT',
            data:form.serialize(),
            url: '/updateadmin'
        }).done(function( response ) {
              
            // Check for a successful (blank) response
          $(location).attr("href","/ListeAdmin")
        });

   
    });
    
</script>
